APP_DEBUG=true[APP]DEFAULT_TIMEZONE=Asia/ShanghaiAPP_HOST=https://www.bearadmin.comAPP_KEY=1b7870ad79331365174f15771c56f5e80fe8fd0a[DATABASE]DB_TYPE=mysqlDB_HOST=127.0.0.1DB_PORT=3306DB_DATABASE=www_bear_adminDB_USERNAME=rootDB_PASSWORD=rootDB_CHARSET=utf8mb4DB_DEBUG=true[CACHE]CACHE_DRIVER=file[REDIS]REDIS_HOST=127.0.0.1REDIS_PORT=6379REDIS_PASSWORD=REDIS_SELECT=0[LANG]DEFAULT_LANG=zh-cn[FILESYSTEM]FILE_DRIVER=public[API]HTTP_CODE_SYNC=trueALLOW_CROSS_DOMAIN=trueJWT_KEY=682880b22f906c72af395f3d537d342d3a87cb3bJWT_EXP=3600ENABLE_REFRESH_TOKEN=trueREFRESH_TOKEN_EXP=1296000REUSE_CHECK=trueJWT_ISS=sJWT_AUD=aTOKEN_POSITION=headerTOKEN_FIELD=token