<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{$index.name|default='XX网站'}</title>
    <link rel="shortcut icon" href="{$index.website.site_logo|default='__INDEX_IMAGES__/logo.png'}" />
    <link rel="apple-touch-icon" href="{$index.website.site_logo|default='__INDEX_IMAGES__/logo.png'}"/>
    <link rel="bookmark" href="{$index.website.site_logo|default='__INDEX_IMAGES__/logo.png'}" />

    {block name='head_css'}
    {include file='public/head_css' /}
    {/block}

    {block name='head_js'}
    {include file='public/head_js' /}
    {/block}

</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">

    {block name='nav_bar'}
    {include file='public/nav_bar' /}
    {/block}

    <div class="content-wrapper">
        {block name='content_header'}
        {include file='public/content_header' /}
        {/block}

        {block name='content'}
        {include file='public/content' /}
        {/block}
    </div>

    {block name='footer'}
    {include file='public/footer' /}
    {/block}

</div>
</body>
</html>