<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="{:url('index/index')}" class="navbar-brand">
            <img src="{$index.website.site_logo|default='/static/index/images/logo.png'}" alt="网站Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">{$index.website.site_name|default='xx网站'}</span>
        </a>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                {foreach $index.nav as $nav}
                <li class="nav-item">
                    <a href="{:url($nav.url)}" class="nav-link">{$nav.name|default='--'}</a>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
</nav>
